.program-list-container {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

.programs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  gap: 40px;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
