.program-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}

.program-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.card-header {
  background: #cbeef3;
  color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.card-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  flex-shrink: 0;
}

.card-title {
  flex: 1;
  min-width: 0;
}

.program-name {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.program-study-type {
  margin: 0;
  font-size: 14px;
  opacity: 0.9;
}

.card-content {
  padding: 10px 20px;
  flex: 1;
  align-content: center;
  box-sizing: border-box;
}

.info-row {
    margin-bottom: 1px;
}

.info-label {
    font-weight: 500;
    color: #666;
    min-width: 80px;
    margin-right: 8px;
    font-size: 13px;
}

.info-value {
    color: black;
    font-weight: 600;
}

.card-actions {
  padding: 10px 20px;
  border: none;
  border-top: 1px solid #eee;
  display: flex;
  background: white;
  color: #f16a8c;
}

.view-details {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  flex: 1;
}

.card-actions:hover {
  background: rgba(241, 106, 140, 0.2);
  color: black;
}
