.main-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #efefef;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 60px; /*change*/
  transition: margin-left 0.3s ease;
}

/*.main-content.sidebar-closed { */ /*change*/
/*    margin-left: 60px;*/
/*}*/

.main-content.sidebar-open {
  /*change*/
  margin-left: 240px;
}
